NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=re_HaiSq5cP_2nF5WXi3WSSdKcKgdodC9yCk
WAITLIST_FROM_EMAIL="mySwamp <hello@myswamp.space>"
SITE_URL=https://myswamp.space
